<app-header></app-header>
<!-- app.component.html -->
<h1 id="top"><strong>Add Post</strong></h1>

<div class="d-flex justify-content-center" id="post">
    <!--cards-->
    <div class="card" style="width: 18rem; margin-top: 3rem;">
    <!--Deliver your image -->
  <ngx-dropzone (change)="onSelect($event)" style="border-color: rgb(218, 226, 233); margin: .3rem;">
      <ngx-dropzone-label>Add Picture</ngx-dropzone-label>
      <ngx-dropzone-image-preview 
    ngProjectAs="ngx-dropzone-preview" 
    *ngFor="let f of files"
    [removable]="true" (removed)="onRemove(f)"
    [file]="f">
      <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </ngx-dropzone>

  
    
    <div class="card-body">
      <textarea
      formControlName="caption"
      cols="28" rows="3" 
      placeholder="Add Caption"></textarea>
     <button (click)="onUpload()"
      class="btn btn-primary">Submit</button>
    </div>
  </div>
  </div>
