<app-header></app-header>



<div class="modal fade" id="modalview">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title h4">Following</div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"><strong> Authur Zwane</strong>
                </h6>
                <p class="media-text">Arthur Jabulani Zwane better known as "10111" is a South African professional football coach...</p>
              </div>
            </li>
          </a>
          <hr class="my-3">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"> <strong> Tsentle Makhoana</strong>
                </h6>
                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
          </a>
          <hr class="my-3">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"><strong> Tsholofelo Makhoana</strong>
                </h6>
                <p class="media-text">Software Developer at The Digital Academy</p>
              </div>
            </li>
          </a>
          <hr class="my-3">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"><strong> Teko Modise </strong>
                </h6>
                <p class="media-text">Teko Tsholofelo Modise, nicknamed The General and Techno M, is a South African retired professional footballer,</p>
              </div>
            </li>
          </a>
          <hr class="my-3">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"><strong> MacG Mukwevho</strong>
                </h6>
                <p class="media-text">Ehhhh Daaaa Macgyver Mukwevho real name: Macgyver 'macg' Mukwevho; Stage Name: MacG; Occupation</p>
              </div>
            </li>
          </a>
          <hr class="my-3">
          <a href="#" class="text-decoration-none">
            <li class="media hover-media">
              <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
              <div class="media-body text-dark">
                <h6 class="media-header"><strong> Jacob Zuma</strong>
                </h6>
                <p class="media-text">Jacob Gedleyihlekisa Zuma is a South African politician who served as the fourth president of South Africa from 2009 to 2018</p>
              </div>
            </li>
          </a>
         
        </ul>
      </div>
    </div>
  </div>
</div>
<!-------------------------------MOdal Ends---------------------------->







<div class="container">
  <div class="row">
    <!--------------------------left columns  start-->
    <div class="col-12 col-lg-3">
      <div class="left-column">
        <div class="card card-left1 mb-4">
          <img src="../../../assets//images/vukaniT.jpg" alt="" class="card-img-top img-fluid">
          <div class="card-body text-center ">
            <img src="../../../assets/images/user1.png" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
            <h5 class="card-title">{{username}}</h5>
            <p class="card-text text-justify mb-2">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
            <ul class="list-unstyled nav justify-content-center">
              <a href="#" class="text-dark text-decoration-none">
                <li class="nav-item">Friends <br>
                  <strong>12M</strong>
                </li>
              </a>
              <a href="#" class="text-dark text-decoration-none">
                <li class="nav-item">Enimes <br>
                  <strong>1</strong>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="card shadow-sm card-left2 mb-4">
          <div class="card-body">
            <h5 class="mb-3 card-title">About <small>
                <a href="#" class="ml-1">Edit</a>
              </small>
            </h5>
            <p class="card-text">
              <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">University of Kasi</a>
            </p><br>
            <p class="card-text">
              <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">Thabo</a>
            </p><br>
            <p class="card-text">
              <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">The Digital Acc</a>
            </p><br>
            <p class="card-text">
              <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">Johannesburg</a>
            </p><br>
            <p class="card-text">
              <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Gauteng, South Africa</a>
            </p>
          </div>
        </div>
        <div class="card shadow-sm card-left3 mb-4">
          <div class="card-body">
            <h5 class="card-title">Photos <small class="ml-2">          
              </small>
            </h5>
            <div class="row">
              <div class="col-6 p-1">
                <a href="../../../assets/images/absa.jpg" data-lightbox="id">
                  <img src="../../../assets/images/absa.jpg" alt="img" class="img-fluid my-2">
                </a>
                <a href="../../../assets/images/mtn.jpg" data-lightbox="id">
                  <img src="../../../assets/images/mtn.jpg" alt="img" class="img-fluid my-2">
                </a>             
              </div>
              <div class="col-6 p-1">
                <a href="../../../assets/images/voda.jpg" data-lightbox="id">
                  <img src="../../../assets/images/voda.jpg" alt="img" class="img-fluid my-2">
                </a>
                <a href="../../../assets/images/DA.jpg" data-lightbox="id">
                  <img src="../../../assets/images/DA.jpg" alt="img" class="img-fluid my-2">
                </a>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div class="col-12 col-lg-6">
      <div class="middle-column">
        <div class="card">
          <div class="card-header bg-transparent">
            <form class="form-inline" [formGroup]="statusForm" (ngSubmit)="onSubmit()">
              <div class="input-group w-100">
                <textarea type="textArea" formControlName="comment" id="message" placeholder="Message" class="form-control form-control-md" required>

                </textarea>                
                <button class="btn btn-danger " type="submit">Post Status</button>
              </div>
            </form>
          </div>
         
          <app-postlist></app-postlist>
         
         
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!------------------------Middle column Ends---------------->
    <!---------------------------Statrs Right Columns----------------->
    <div class="col-12 col-lg-3">
      <div class="right-column">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h6 class="card-title">Sponsored</h6>
            <img src="../../../assets/images/DA.jpg" alt="card-img" class="card-img mb-3">
            <p class="card-text text-justify">
              <span class="h6">The Digital Academy </span>  recruits motivated young people with a raw talent for Software Development. They learn practical, hands-on development skills that are needed in the real world. 
            </p>
            <a href="https://www.thedigitalacademy.co.za/" target="_blank" class="btn btn-outline-info card-link btn-sm">View More</a>
          </div>
        </div>
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h6 class="card-title "><a href="#suggestedView" data-toggle="modal" class="ml-1">
                <small> People you may know (TOP 2) </small>
              </a>
            </h6>
            <div class="row no-gutters d-none d-lg-flex">
              <div class="col-6 p-1">
                <img src="../../../assets/images/user1.png" alt="img" width="70px" height="60px" class="rounded-circle mb-4">
                <img src="../../../assets/images/user1.png" alt="img" width="70px" height="60px" class="rounded-circle">
             
              </div>
              <div class="col-6 p-1 text-left">
                <h6>Monnapule Saleng</h6>
                <a href="#" class="btn btn-outline-info btn-sm mb-3">
                  <i class="fas fa-user-friends"></i>Follow </a>
                <h6>Siphiwe Shabalala</h6>
                <a href="#" class="btn btn-outline-info  btn-sm">
                  <i class="fas fa-user-friends"></i>Follow </a>
     
       
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
          </div>
        </div>
        <div class="card shadow-sm">
          <div class="card-body">
            <p>&copy; 2023 Vukani <a href="#">About</a> | 
              <a href="#">Help</a> | 
              <a href="#">Terms</a> | 
              <a href="#">Privacy</a> | 
              <a href="#">Cookies</a> | 
              <a href="#">Ads </a> | 
              <a href="#">Info</a> | 
              <a href="#">Jobs</a> |
              <a href="#">Advertise</a> |
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------Light BOx OPtions------------->
  <script>
    lightbox.option({})
  </script>
  <!------------------------Light BOx OPtions------------->







  <div class="modal fade" id="suggestedView">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title h4">Suggested - People you may know</div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"><strong> Thabo Baster </strong>                     
                  </h6>    
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>           
                </div>
              </li>
            </a>
            <hr class="my-3">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"> <strong> Maki Motholo</strong>
                  </h6>
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>
                </div>
              </li>
            </a>
            <hr class="my-3">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"><strong> Fikile Mbalula</strong>
                  </h6>
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>
                </div>
              </li>
            </a>
            <hr class="my-3">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"><strong> Peter Shalulile </strong>
                  </h6>
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>
                </div>
              </li>
            </a>
            <hr class="my-3">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"><strong> MacG Mukwevho</strong>
                  </h6>
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>
                </div>
              </li>
            </a>
            <hr class="my-3">
            <a href="#" class="text-decoration-none">
              <li class="media hover-media">
                <img src="../../../assets/images/user1.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                <div class="media-body text-dark">
                  <h6 class="media-header"><strong> Hercules Hercs</strong>
                  </h6>
                  <a href="#" class="btn btn-outline-info  btn-sm">
                    <i class="fas fa-user-friends"></i>Follow </a>
                </div>
              </li>
            </a>
           
          </ul>
        </div>
      </div>
    </div>
  </div>