
<div class="header-cl" id="">
    <img class="h-8 w-8 roundede-full" src="https://freepngimg.com/save/130291-letter-v-png-download-free/512x512" alt="">UKANI
    </div>
    
    
    
    <div class="bg-slate-600 min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Register</h1>
                <form [formGroup]="myForm">
    
                    <div id="a-name" *ngIf="myForm.get('firstname').invalid && (myForm.get('firstname').dirty || myForm.get('firstname').touched)">
                        Please provide your first name.
                      </div>
      
    
                <input 
    
                
                    type="text"
                    [(ngModel)]="firstname"
                    ngModelOptions="{standlone:true}"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    formControlName="firstname"
                    placeholder="First Name" />

                    <div id="a-name" *ngIf="myForm.get('lastname').invalid && (myForm.get('lastname').dirty || myForm.get('lastname').touched)">
                        Please provide your last name.
                      </div>
      
    
                <input 
    
                
                    type="text"
                    [(ngModel)]="lastname"
                    ngModelOptions="{standlone:true}"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    formControlName="lastname"
                    placeholder="Last Name" />
    
                    <div id="b-name" *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
                        Please provide a valid email address.
                      </div> 
    
                <input 
                
                    type="email"
                    [(ngModel)]="email"
                    ngModelOptions="{standlone:true}"
                    class="block border border-grey-light w-full p-3 rounded mb-4 "
                    formControlName="email"
                    placeholder="Email" />
    
                    <div id="c-name" *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
                        Please provide a password of atleast 8 characters.
                      </div> 
    
                <input 
                    type="password"
                    [(ngModel)]="password"
                    ngModelOptions="{standlone:true}"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    formControlName="password"
                    placeholder="Password" />
                    
                    <div id="c-name"
                    *ngIf="myForm.get('confirm_password').invalid && (myForm.get('confirm_password').dirty || myForm.get('confirm_password').touched)">
                    Password does not match.
                </div>
                    
                <input
    
    
                    type="password"
                    [(ngModel)]="password2"
                    ngModelOptions="{standlone:true}"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    formControlName="password2"
                    placeholder="Confirm Password" />
    
                    
      
                <button (click)="save()"
                    id="btn-style"
                    type="submit" 
                    class="w-full text-center py-3 rounded bg-green bg-slate-600  text-white block border border-grey-light w-full p-3 rounded mb-4 hover:bg-green-dark focus:outline-none my-1  "
                     >Create Account</button> 
                </form>
    
                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the 
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Terms of Service
                    </a> and 
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Privacy Policy
                    </a>
                </div>
            </div>
      
            <div class="text-grey-dark mt-6 text-white"  >
                Already have an account? 
                <a class="no-underline border-b border-blue text-red-600" routerLink="/login">
                    Log in
                </a>.
            </div>
        </div>
      </div>
      